@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html {
    font-family: Poppins, monospace;
    font-size: 24px;
    background-color: rgb(238, 238, 238);
}

.logoImage {
    display: inline;
    width: 250px;
}
.headerNavigators {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    float: right;
    max-width: 100%;
    width: 100%;
}
#navBox {
    display: inline-block;
    width: 40%;
    margin-left: 46%;
    margin-bottom: 48px;
}
ul {
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
@media (max-width:800px) {
    .flexContainer {
        display: flex;
        width: 100%;
        max-width: 700px;
        margin: auto;
        float: none;
    }
}
.divFlexbox {
    display: flex;
}
.iconColor {
color: rgb(63, 119, 58);
}
.textColor {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: black;
    font-family: Poppins;
    font-size: 18px;
    margin:auto;
}