@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html {
    font-family: Poppins, monospace;
    font-size: 24px;
    background-color: rgb(195, 230, 250);
}
.logoImage {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    float: left;
    width: 300px;
}
.headerNavigators {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    word-spacing: 20px;
}

li {
    display: flex;
    justify-items: flex-end;
}