@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html {
    font-family: Poppins, monospace;
    font-size: 24px;
    background-color: rgb(195, 230, 250);
}
#page-wrapper {
    position: relative;
  }
.logoImage {
    display: flex;
    justify-items: flex-start;
    flex-direction: row;
    float: left;
    width: 300px;
}
.headerNavigators {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-decoration: none;
}
.navBox {
    margin-left: auto;
    width: 600px;
    justify-content: flex-end;
}

ul {
    display: flex;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}